#Prediction using Supervised ML

Mayur Veer

m.veer@somaiya.edu

https://www.linkedin.com/in/mayur-veer-a66838185/

Date: 16th March, 2021

**Datasets used**: http://bit.ly/w-data

#Import data using url and seperate the data using sep

Using pandas we import the data

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv'
a = pd.read_csv(url, sep=',')
a

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

The shape function shows the no. of rows and columns of the dataframe

In [ ]:
a.shape

(25, 2)

Describe function gives us information about the mean, maximum value, minimum value, etc. of the dataframe

In [ ]:
a.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

#Linear regression

Since scores are dependent on hours, score is the dependent variable and hour is the independent variable

In [ ]:
Independent = a[['Hours']]
Dependent = a[['Scores']]
print(Independent)
print(Dependent)

    Hours
0     2.5
1     5.1
2     3.2
3     8.5
4     3.5
5     1.5
6     9.2
7     5.5
8     8.3
9     2.7
10    7.7
11    5.9
12    4.5
13    3.3
14    1.1
15    8.9
16    2.5
17    1.9
18    6.1
19    7.4
20    2.7
21    4.8
22    3.8
23    6.9
24    7.8
    Scores
0       21
1       47
2       27
3       75
4       30
5       20
6       88
7       60
8       81
9       25
10      85
11      62
12      41
13      42
14      17
15      95
16      30
17      24
18      67
19      69
20      30
21      54
22      35
23      76
24      86

I am going to use sklearn library for linear regression

In [ ]:
from sklearn import linear_model
regr = linear_model.LinearRegression()

In [ ]:
regr.fit(Independent, Dependent)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
print(regr.coef_)
print(regr.intercept_)

[[9.77580339]]
[2.48367341]

In [ ]:
print("The predicted score is: "+str(regr.predict([[9.25]])[0][0]))

The predicted score is: 92.9098547701573